<ion-view view-title="Rate">
  <ion-content class="padding">

    <!-- SWIPEABLE -->
    <td-cards>
          <td-card ng-repeat="card in cards"  on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
            <div class="row card-container">
              <div class="col">
                <div class="compare_person">
                </div>
              </div>
              <div class="column">
                  <!-- spacer -->
              </div>
              <div class="col">
                <div class="compare_person">
                </div>
              </div>
            </div>
          </td-card>
    </td-cards>

    <!-- CONTROLS -->

    <div class="row" id="controls">
      <div class="column">
        <button class="button round rate">
          <i class="icon ion-thumbsup"></i>
        </button>        
      </div>
      <div class="column">
        <button class="button round undecided">
          <i class="icon ion-help"></i>
        </button>
      </div>
      <div class="column">
        <button class="button round rate">
          <i class="icon ion-thumbsup"></i>
        </button>
      </div>
    </div>

   </ion-content>
</ion-view>
