<ion-view view-title="{{user.name}}">
<ion-content>

<div class="row" style="border-bottom: 1px solid #ddd; width: 100%;">
	<div class="col">
		<div id="account-img" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
	</div>
	<div class="col">
		<h3>Hotness:<br>{{Math.round(user.sigma*10)/10}}</h3>
		</div>
	<div class="col"><h3>Equals:<br>12</h3></div>
	</div>
</div>
<div id="suggested-matches">
	<div class="row" ng-repeat="match in matches">
		<div class="suggested-match" ng-style="{'background-image': 'url(' + match.profilePic + ')'}">
			<button class="button round like">
				<i class="icon ion-thumbsup"></i>
			</button>        
			<button class="button round dislike">
				<i class="icon ion-thumbsdown"></i>
			</button>
		</div>
	</div>	
</div>

</ion-content>
</ion-view>
