<ion-view view-title="Rate">
  <ion-content class="padding">
    <div ng-if="comparisons.length == 0">
      There are currently no couples for you to rate.
    </div>
    <td-cards>
      <td-card ng-repeat="comparison in comparisons" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)">
        <div style="height:100px; background-color: red">
        Card content here
        </div>
      </td-card>
    </td-cards>
  </ion-content>
</ion-view>
