<ion-view view-title="<img src='img/logo_white.png' class='navbar_logo'>">
  <ion-content>
    <ion-list>
      <ion-item class="toplist-container item-remove-animate item-avatar item-icon-right" ng-repeat="couple in couples" type="item-text-wrap">
      <div class="row toplist-row">
        <div class="col col-center text-center">
        <span class="top-score">{{Math.round(couple.male.hotness*10)/10}}</span>
        </div>
        <div class="col col-33 cell-left">
            <img ng-src="{{couple.male.profilePic}}" class="toplist-user">
            <h2>{{couple.male.name}}</h2>
            <p>{{couple.lastText}}</p>
        </div>
        <div class="col col-33 cell-right">
          <img ng-src="{{couple.female.profilePic}}" class="toplist-user">
          <h2>{{couple.female.name}}</h2>
          <p>{{couple.lastText}}</p>
        </div>
        <div class="col col-center text-center">
        <span class="top-score">{{Math.round(couple.female.hotness*10)/10}}</span>
        </div>
      </div>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
