<ion-view view-title="<img src='img/logo.png' class='navbar_logo'>">
  <ion-content>
    <!-- SWIPEABLE -->
    <div class="empty_message" ng-if="comparisons.length == 0">
      There are currently no more couples for you to rate.
    </div>
    <td-cards control="cardsControl" delegate-handle="comp">
      <td-card ng-repeat="comparison in comparisons track by $index" on-destroy="cardDestroyed($index)" on-transition-left="cardSwipedLeft($index)" on-transition-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card card-{{$index}}">
            <div class="row card-container">
              <div class="col">
                <div class="compare_person" ng-style="{'background-image': 'url(' + comparison.male.profilePic + ')'}"></div>
                <div class="person_info">
                  {{comparison.male.name}}
                </div>
              </div>
              <div class="column">
                  <!-- spacer -->
              </div>
              <div class="col">
                <div class="compare_person" ng-style="{'background-image': 'url(' + comparison.female.profilePic + ')'}"></div>
                <div class="person_info">
                  {{comparison.female.name}}
                </div>
              </div>
            </div>
          </td-card>
    </td-cards>

    <!-- CONTROLS -->

    <div class="row" id="controls" ng-if="comparisons.length > 0">
      <div>
        <button class="button round rate" ng-click="swipeLeft()">
          <i class="icon ion-male"></i>
        </button>        
      
      
        <button class="button round undecided" ng-click="cardEqual(0)">
          <i class="icon ion-arrow-swap"></i>
        </button>
      
      
        <button class="button round rate" ng-click="swipeRight()">
          <i class="icon ion-female"></i>
        </button>
      </div>
    </div>

   </ion-content>
</ion-view>
