<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Rate" icon-off="ion-thumbsup" icon-on="ion-thumbsup" href="#/tab/rate">
    <ion-nav-view name="tab-rate"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Toplists" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/toplists">
    <ion-nav-view name="tab-toplists"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Me" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>

    
