/* Empty. Add your own CSS if you like */

/* OVERALL STYLING */
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
	color: #f47921;
}

ion-tabs.tabs-color-active-positive .tab-item {
	color: #000;
}

.empty_message {
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

.navbar_logo {
	height: 60%;
	vertical-align: middle;
	margin-bottom: 4px;
}

.bar-stable {
	background-color: #f47921 !important;
	border: none !important;
	/*border-bottom: 1px solid #ddd !important; */
	box-shadow: 0 1px 4px #ccc !important;
}
.bar.bar-stable .title {
	color: #fff !important;
}

.dividerbar {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #eee;
	width: 100%;
	background-color: #f8f8f8
}
.dividerbar h3 {
	padding-top: 5px;
	margin-bottom: 0;
}

.fa {
	margin: 2px auto 0 auto !important;
}
.fa-list-ol {
	font-size: 26px !important;
	height: 27px !important;
	margin: 6px auto 0 auto !important;	
}

/*START SCREEN*/

#background {
	width: 100%;
	height: 100%;
	background-image: url("http://ec2-52-28-68-232.eu-central-1.compute.amazonaws.com/people/home_scr.png");
  	background-size: cover;
}

#overlay {
	width: 100%;
	height: 100%;
	  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  /*background: rgba(0, 0, 0, 0.5);*/
  background: linear-gradient(to bottom, rgba(125,126,125, 0.5) 0%,rgba(14,14,14, 0.8) 100%);
}

#btn-login-fb {
	color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
	line-height: 1.5;
	font-family: "Lucida Grande", Tahoma;
	font-size: 20px;
	font-weight: bold;
	border: none;
	width: 300px;
	height: 20px;
	border-radius: 5px;
	
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -150px;
}

#claim {
	position: absolute;
	bottom: 250px;
    width: 100%;
    text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	color: #D3D3D3;
}

/*COMPARISONS*/

td-cards {
	margin-top: 10px;
}

div.compare_person {
  height: 200px;
  width: 100%;
  background-size: cover;
}

.person_info {
    background-color: #f47921;
    width: 100%;
    height: 40px;
    box-shadow: rgba(0,0,0,0.5) 15px 0px 17px;

    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.td-card .row, .td-card .col {
	padding: 0px;
}

/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0) scale(95%, 100%);
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
*/

button.round {
	border-radius: 50%;
}

button.rate {
	width: 120px;
	height: 120px;
    /*position: absolute;*/
    /*bottom: -25px;*/
    /*right: 0;*/
}

button.undecided {
	width: 85px;
	height: 85px;
    /*position: absolute;*/
    /*bottom: -25px;*/
    /*right: 0;*/
}

td-card {
	background-color: white;
	height: 240px;
	/* border: 1px solid #999; */
    /* box-shadow: 0px 1px 3px rgba(0,0,0,0.2); */
    /* border-radius: 6px; */
    position: absolute;
	/* top: 10px; */
	left: 10px;
	right: 10px;
	overflow: hidden;


	border: 1px solid #999;
  	box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  	border-radius: 6px;
}

#controls{
	position: absolute;
	top: 280px;
}

#controls > div {
	margin: 0 auto;
}

#controls .button .icon:before {
	font-size: 50px;
}

/* TOPLIST */

img.toplist-user {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.toplist-container div.item-content{
	padding: 0px 10px 0px 10px !important;
}

div.toplist-row{
	margin-left: ;
}

div.toplist-row .cell-left{
	text-align: right;
}

div.toplist-row .cell-right{
	text-align: left;
}

.text-center{
	text-align: center;
}

span.top-score{
	font-size: 1.5em;
	
}

/* ACCOUNT */
#account-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

div.suggested-match {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
	display: block;
	margin: 10px auto;

	background-size: cover;
	background-repeat: no-repeat;
}


button.like {
	width: 70px;
	height: 70px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

button.dislike {
	width: 70px;
	height: 70px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

@font-face {
    font-family: 'fontawesome';
    src:url('../lib/fontawesome/fonts/fontawesome-webfont.eot');
    src:url('../lib/fontawesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../lib/fontawesome/fonts/fontawesome-webfont.woff') format('woff'),
        url('../lib/fontawesome/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../lib/fontawesome/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
